@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -ms-overflow-style: none; /*Remove Scrollbar on Edge*/
    scrollbar-width: none; /*Remove Scrollbar on Firefox*/
    -webkit-tap-highlight-color: transparent; /*Prevent blue highlight*/
}

::-webkit-scrollbar { /*Remove Scrollbar on Chrome*/
    display: none;
}