@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

section {
    min-height: 88vh;
}